body {
	background-color:#777
}

#center {
	margin:auto;
	width:60%;
}

#video {
	width:100%;
}

#feedback {
	border:2px solid #000;
	border-radius:0px 0px 100px 100px / 0px 0px 50px 50px;
	-webkit-border-radius:0px 0px 100px 100px / 0px 0px 50px 50px;
	-moz-border-radius:0px 0px 100px 100px / 0px 0px 50px 50px;
	-o-border-radius:0px 0px 100px 100px / 0px 0px 50px 50px;
	transition:height .2s ease-in-out, color 0s ease-in-out .2s;
	-webkit-transition:height .2s ease-in-out, color 0s ease-in-out .2s;
	-moz-transition:height .2s ease-in-out, color 0s ease-in-out .2s;
	-o-transition:height .2s ease-in-out, color 0s ease-in-out .2s;
	background-color:#AAA;
	padding:0px 10px;
	color:#30F;
	font-family:"Calibri", Arial, sans-serif;
	font-size:18pt;
	font-style:bold;
	text-align:center;
}