#game_div{

	text-align: center;

}

canvas{


	background-color: #cb630a;


	padding: 5px;


	margin: 10px;


	border-width: 60px;


	border-color: #010101;


	border-style: solid;


}

body{

	background-color: #128138;

}